* { margin: 0; padding: 0; }

html, body { height: 100%; }

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	background: #2b2b2b;
	color: #fff;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	
}

img {
	max-width: 100%;
}

h1 {
	color: #a54e4e;
	font-size: 3em;
	letter-spacing: -0.04em;
}

.inner {
	width: 95%;
	margin: 0 auto;
	position: relative;
	min-width: 760px;
	max-width: 1050px;
}

.clear { clear: both;}
.text-box { margin-top: 10px; margin-bottom: 25px;}

#header {
	display: block;
	width: 100%;
	background: #333333;	
	height: 120px;
}

#header #logo {
	float: left;
	display: block;
	margin-top: 25px;
}

#header #logo a {
	display: block;
	width: 233px;
	height: 64px;
	background: url('images/logo.png') 0 0 no-repeat;
}


td.player a  
{
	font-weight: bold;
	color: #a54e4e; 
}

#header #mods {
	float: left;
	margin: 45px 0 0 0;
}

#header #mods ul {
	list-style: none;
}

#header #mods ul li {
	float: left;
	margin: 0 0 0 10px;
}

#header #donate {
	margin: 0 auto;
	left: 470px;
	top: 45px;
	position: absolute;
	
}

#header #donate a:hover { border: 0; }

#header #tracking {
	float: right;
	margin-top: 20px;
	font-size: 12px;
	color: #fff;
}

#header #tracking strong {
	color: #a54e4e;
}

#header .inner {
	height: 120px; /* fix for menu */
}

#header #nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: -2px;
}

#header #nav ul li {
	display: block;
	float: left;
}

#header #nav ul li.active {
    border: 1px solid #d5d5d5;
	border-bottom: 0;
	background: #f4f4f4;
}

#header #nav ul li a {
	display: block;
	color: #6a6a6a;
	padding: 8px;
	font-size: 18px;
	text-shadow: 1px 1px 0 white;
}

#header #nav ul li a:hover {
	color: #333333;
	border: 0;
}

#footer {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;	
	background: #333333;
	margin: 20px 0 0 0;
}

#footer a{
	color: #a54e4e;
}

#content {
	display: block;
	width: 100%;
	padding: 20px 0 0 0;
}

#content .index-content{
    display: flex;
    align-items: stretch;
    gap: 20px;
}

#content .left {
	flex: 1;
}

#content .right {
	flex: 1;
}

#content .left-wide {
	float: left;
	width: 69%;
}

#content .right-small {
	float: right;
	width: 29%;
}

#content .left-third {
	float: left;
	width: 32%;
	margin-right: 1%;
}

#content .mid-third {
        float: left;
        width: 32%;
	margin-left: 0.5%;
}

#content .right-third {
	float: right;
	width: 33%;
}

#content .left-sixth {
	float: left;
	width: 16%;
}

#content .right-sixth {
	float: right;
	width: 16%;
}

#content .left-fourtenth {
	float: left;
	width: 41%;
}

#content .right-fourtenth {
	float: right;
	width: 41%;
}

#content .left-twothird {
	float: left;
	width: 66%;
	margin-right: 1%;
}

#content .right-twothird {
	float: right;
	width: 66%;
}

#content .center {
    float: left;
    width: 100%;
}


#stream {
	float:left;
	left: inherit;
	top: inherit;
	width: 1050px;
	height: 500px;
}

#streamchat {
	float:right;
	margin: 0px, 0px, 5px, 0px;
}


.box {
	margin: 0 0 20px 0;
	background: white;
	box-shadow: 0 0px 3px rgba(31, 31, 31, 0.25);
}

.box .box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececec;
    padding: 2px 5px;
}
.box h2 {	
	color: #444444;
	letter-spacing: -0.06em;
	/*box-shadow: 0 0px 3px rgba(31, 31, 31, 0.25);*/
	text-shadow: 1px 1px 0 white;
}

.box .box-title > a{
    color: #a54e4e;
    font-size: 18px;
    font-weight: bold;
}

.box table {
	width: 100%;
	border-collapse: initial;
	font-size: 12px;
	color: #333;
}

.box table tr th {
	text-align: center;
	padding: 5px;
	line-height: 30px;
	font-size: 14px;
}

.box table .rank { width: 15%; border-left: 0 !important; }

.box table .nickname { width: 30%; }
.box table .country { width: 40%; }
.box table .elo { width: 15%; text-align: center ;}

.box table tr td {
	border: 1px solid #ececec;
	border-width: 0 0 0 1px;
	padding: 5px;
}

.box table tbody tr td.nickname a { display: block;}
#top-countries table tbody tr td a { display: inline; }
.box table tbody tr td a:hover { border: 0;}

.box table tbody tr:nth-child(odd) {background: #f4f4f4}

.box table tbody .nickname a {
	color: #a54e4e;
	font-weight: bold;
}

.box .image {
	text-align: center;
}

/* Cups stuff */

.box-cups {
	margin: 0 0 20px 0;
	background: white;
	box-shadow: 0 0px 3px rgba(31, 31, 31, 0.25);
}

.box-cups h2 {
	height: 24px;
	line-height: 24px;
	display: block;
	background: RGBA(255,0,0,0.4);
	padding: 2px 0 2px 5px;
	color: darkred;
	letter-spacing: -0.06em;
	/*box-shadow: 0 0px 3px rgba(31, 31, 31, 0.25);*/
	text-shadow: 1px 1px 0 black;
}

.box-cups table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
}

.box-cups table tr th {
	text-align: left;
	padding: 5px;
	line-height: 30px;
	font-size: 14px;
}

.box-cups table .rank { width: 15%; border-left: 0 !important; }

.box-cups table .nickname { width: 30%; }
.box-cups table .country { width: 40%; }
.box table .elo { width: 15%; text-align: center ;}

.box-cups table tr td {
	border: 1px solid #ececec;
	border-width: 0 0 0 1px;
	padding: 5px;
}

.box-cups table tbody tr td.nickname a { display: block;}
.box-cups table tbody tr td a:hover { border: 0;}

.box-cups table tbody tr:nth-child(odd) {background: RGBA(255,0,0,0.1)}

.box-cups table tbody .nickname a {
	color: #a54e4e;
	font-weight: bold;
}

/* End cups stuff */

.icon {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url('images/icons.png');
  background-repeat: no-repeat;
  float: left;
  clear: left;
}

.icon.ffa { background-position: 0 0; }
.icon.ctf { background-position: -28px 0; }
.icon.ca { background-position: -58px 0; }
.icon.duel { background-position: -87px 0; }
.icon.tdm { background-position: -348px 0; }
.icon.race { background-position: -378px 0; }

.icon.gauntlet { background-position: -116px 0;}
.icon.mg { background-position: -145px 0;}
.icon.lg { background-position: -290px 0;}
.icon.gl { background-position: -203px 0;}
.icon.sg { background-position: -174px 0;}
.icon.rl { background-position: -261px 0;}
.icon.rg { background-position: -319px 0;}
.icon.pg { background-position: -232px 0;}

/* Player specific */

#medals {
	width: 270px;
	margin: 20px auto;
}

.medal {
	display: block;
	margin: 0 5px 0 5px;
	height: 40px;
	width: 40px;
	background-image: url('images/medals.png');
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding-top: 40px;
}

.medal.exc { background-position: 0px 0; }
.medal.imp { background-position: -80px 0; }
.medal.hum { background-position: -40px 0; }

#player #avatar {
  text-align: center;
  display: block;
}

#player #avatar img {
	margin-top: 40px;
}

#player #stats {
  font-size: 18px;
  margin: 5px 0 8px 0;
}

#player .line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
  background: #d5d5d5;
}

#player #stats strong {
	margin-right: 15px;
	color: #a54e4e;
}

#player #vital_stats td {
	font-weight: bold;
}

#player #vital_stats .value {
	color: #a54e4e;
}

#player #ranking_stats .active {
	background: #eabd70;
}

#player #pagination{
	background: #fff;
	overflow: auto;
}

#player #pagination ul {
	list-style: none;
}

#player #pagination ul li {
	float: left;
	width: 10%;
	text-align: center;
}

#player #pagination ul li a {
	font-weight: bold;
	display: block;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid transparent;
}

#player #pagination .current a {
	color: #a54e4e;
	background: #f4f4f4;
}

#player #pagination a:hover {
	border-bottom: 1px dotted #a54e4e;
}

#elo-change, #most-played {
	height: 448px;
	position: relative;
}

#tracked-duels {
	height: 190px;
}

#player #weapon_stats thead th .icon {
	text-align: center;
	margin: 0 auto;
	float: none;
	padding: 0;
}

#player #weapon_stats tbody td {
	text-align: center;
	line-height: 20px;
	padding: 0 8px 0 8px;
}

#player #weapon_stats thead tr th { line-height: 15px; padding: 0; }

#player #weapon_stats tbody .frags {
	color: #a54e4e;
	font-weight: bold;
	font-size: 16px;
}

#player #weapon_stats tbody td.title {
	text-align: left;
	font-weight: bold;
	color: #444;
	font-size: 12px;
}

#top20 tbody td { padding: 8px; }

#vital_stats table{
	height: 90%;
}
#weapon_stats table {
	/*height: 120px;*/
	height: 160px;
}

#recent_games tbody td.map img {
	width: 50px;
}

#recent_games tbody td {
	text-align: center;
}

#recent_games tbody td.nickname {
	text-align: left;
}

#recent_games td.time {
	font-size: 10px;
}

#recent_games .score {
	font-weight: bold;
}

#recent_games .win {
	color: #52ba65;
}

#recent_games .loose {
	color: #e04f26;
}

div.graph
{
	width: 80%;
	
}

#mapgraph {
    height: 80%;

}

#elograph, #rankgraph {
	height: 35%;
}

#trackedgraph {
	height: 70%;
}

div.graph .legend {
	position: absolute;
	width: 35%;
	left: 100%;
	top: 0;
	background: none;
}

#elograph .legend, #rankgraph .legend, #trackedgraph .legend {
	left: 103%;
}

div.graph .legend td {
	padding: 0;
}

#cursorMessageDiv {
        position: absolute;
        z-index: 99999;
        border: solid 1px #CCC;
        background: #EEE;
        padding: 2px;
        margin: 0px;
        display: none;
}

#notificationbar {
    background: none repeat scroll 0 0 #EABD70;
    border-bottom: 3px solid #FFFFFF;
    color: #A54E4E;
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
           

#search input[type="text"] {
  background-color: #F1F1F2;
  border: 1px solid #FFFFFF; 
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px #CCCCCC inset;  
  outline: medium none;
  padding: 6px 10px;
  text-shadow: 1px 1px #FFFFFF;
}

#top #left {
    width: 43%;
    float: left;
}

#top #right {
    width: 43%;
    float: right;
    text-align: right;
}

#top #middle {
    width: 14%;
    text-align: center;
    float: left;
}

#top h1 {
	color: #fff;
	font-size: 3em;

	letter-spacing: -0.04em;
}


#player .stats {
  font-size: 18px;
  margin: 5px 0 8px 0;
}


#player .stats strong {
	margin-right: 15px;
	color: #a54e4e;
}





#stats_datacontainer table thead tr {
    height: 25px;
}


#leaderboard_filterbar .filterbar_expanded {
    height: 175px;
}
.lgrayBorder {
    border: 1px solid #CCC;
}
.lgrayBack {
    background-color: #CCC;
}
.characterImg {
    float: right;
    width: 158px;
    height: 376px;
    margin-left: -45px;
    margin-top: -88px;
}
.charType {
    font-family: arial;
    color: #ff6633;
    font-size: 14px;
}
.charTypeLarge {
    font-family: arial;
    color: #ff6633;
    font-size: 24px;
    font-weight: 800;
}
.charProfile {
    font-family: arial;
    font-size: 10px;
    color: #333;
    width: 99px;
}
.profile_form {
    float: left;
    width: 340px;
}
.editPro_row {
    width: 380px;
}
.textbox {
    border: solid 1px #9c9c9c;
}

.mainData {
    display: block;
    position: relative;
    margin-left: 12px;
    margin-top: 7px;
    text-align: left;
}
.placeImg {
    float: left;
    display: block;
    position: relative;
    margin-right: 8px;
    margin-left: 6px;
    border: 1px solid #000;
}
.mainDataInfo {
    float: left;
    display: block;
    margin-left: 10px;
    font-size: 11px;
    font-family: Arial;
    position: relative;
}
.mainDataInfoW {
    float: left;
    display: block;
    margin-left: 5px;
    font-size: 11px;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    width: 130px;
    top: 0px;
    left: 0px;
    height: 85px;
}

#match_mapshot {
    float: left;
}
.grayNameTxt {
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #333;
}
.dataDetail {
    display: block;
    position: relative;
    width: 375px;
    clear: left;
    padding-top: 12px;
}
.dataDetail .leftCol, .dataDetail .midCol, .dataDetail .rightCol {
    font-family: Arial;
    font-size: 11px;
    color: #000;
    line-height: 20px;
}
.dataDetail .leftCol {
    padding-left: 20px;
    width: 120px;
    text-align: left;
    font-weight: bold;
    float: left;
}
.dataDetail .midCol {
    width: 150px;
    text-align: left;
    float: left;
}
.dataDetail .rightCol {
    padding-right: 30px;
    text-align: center;
    float: left;
}
.weapons {
    margin-left: 14px;
}

table.statik{
	margin: 0 auto;
	width: 80%;
	font-size: 18px;
}

table.statik tr td{
	height: 40px;
}
table.statik .icon{
	
	display: inline-block;
	float: none;
}

.player-stats{
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.player-stats .box{
    flex: 1;
}

.graph-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper #content{
    flex: 1;
}